{% extends "core/base_bs.html" %}
{% load i18n static auth_tokens %}
{% block meta %}
    {{ block.super }}
    <meta name="description" content="">
    <meta name="author" content="">
{% endblock %}

 <!-- core CSS -->
{% block head_style %}
    {{ block.super }}
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}?ver=12.26.19.19.30">
    <style>
        .search_box {background-image: url("{% static 'img/search_icon.png' %}")}
        div.socials div {background-image: url('{% static "ikwen/img/socialicons.png" %}'); background-size: 125px auto; float: left; height: 28px; margin-left: 5px;overflow: hidden; width: 28px}
        .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {color: #FFFFFF}

        @media only screen
        and (max-width : 425px) {
            aside {clear: both}
            .post {margin-top: 50px}
            div.socials {margin-top: 50px;}
        }
    </style>
{% endblock %}
{% block head_js %}
    {{ block.super }}
    <!--[if lt IE 9]>
    <script src="{% static 'js/html5shiv.js' %}"></script>
    <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->
{% endblock %}

{% block custom_head %}
{% endblock %}


    {% block site_menu_xs %}
        <nav class="visible-xs pull-right">
            <ul id="nav-xs" class="nav navbar-nav navbar-right">
                <li class="show-search">
                    <a href="#">
                        <i class="glyphicon glyphicon-search"></i>
                    </a>
                </li>
                <li>
                    <a href="{% url 'ikwen:sign_in' %}" style="float: left"><i class="glyphicon glyphicon-user"></i></a>
                </li>
            </ul>
        </nav>
    {% endblock %}
    {% block site_menu %}
        <div id="site-menu" class="collapse navbar-collapse hidden-sm-up">
            <div class="container-fluid">
                <ul class="nav navbar-nav navbar-right" style="margin: 0 -15px 0 0">
                    <li class="kakocase visible-md visible-lg"><a href="http://www.ikwen.com/kakocase/"> Kakocase</a></li>
                    <li class="tsunami visible-md visible-lg"><a href="http://www.ikwen.com/tsunami/bundles/"> Tsunami</a></li>
                    <li id="ik-apps" class="visible-sm dropdown">
                        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="glyphicon glyphicon-th-list" style="color: #233682"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="ik-apps">
                            <li class="kakocase"><a href="http://www.ikwen.com/kakocase/"> Kakocase</a></li>
                            <li class="tsunami"><a href="http://www.ikwen.com/tsunami/bundles/"> Tsunami</a></li>
                        </ul>
                    </li>
                    {% if user.is_authenticated %}
                        <li id="user-home">
                            <a href="{{ settings.IKWEN_CONSOLE_URL }}">
                                {% trans "Home" %}
                                {% if user.get_notice_count > 0 %}
                                    <span class="label label-danger" style="margin-top: -18px">{{ user.get_notice_count }}</span>
                                {% endif %}
                            </a>
                        </li>
                        {% if collaborates_on|length == 1 %}
                            <li id="user-apps">
                                <a href="{{ collaborates_on.0.admin_url }}">{{ collaborates_on.0.project_name }}</a>
                            </li>
                        {% elif collaborates_on|length > 1 %}
                            <li id="user-apps" class="dropdown">
                                <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Apps</a>
                                <ul class="dropdown-menu" aria-labelledby="apps">
                                    {% for app in collaborates_on %}
                                        <li><a href="{{ app.admin_url }}">{{ app.project_name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                        <li id="user-menu" class="dropdown">
                            <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="glyphicon glyphicon-user"></i>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="user-menu">
                                <li style="padding: 3px 20px"> {{ user.get_short_name }} </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="{{ account_setup_url|ikwenize }}">{% trans "Account setup" %}</a>
                                </li>
                                <li><a href="{% url "ikwen:logout" %}">{% trans "Logout" %}</a> </li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="hidden-xs">
                            <a href="{% url 'ikwen:sign_in' %}" style="padding-top: 13px;">
                                <button class="btn btn-sm" style="background: #233682;color: #FFF;font-weight: 600; width: 100px;">{% trans "Login" %}</button>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    {% endblock %}


{% block content %}
    <section id="blog" class="container">
        {% block page_header %}
        {% endblock %}
        <div class="row blog-content">
            <div  class="col-md-8" style="">
            {% block page_content %}
            {% endblock %}
            </div>
            <aside class="col-md-4">
                <div class="widget search">
                    <form role="form" action="{% url 'blog:search'   %}" method="get" autocomplete="off">
                        <input type="text"  name="radix" class="form-control search_box" autocomplete="off" placeholder="Search blog">
                    </form>
                </div><!--/.search-->
                {% if suggestions %}
                <div class="widget categories">
                    <h3>Post suggestions</h3>
                    <div class="row" style="">
                        {% for suggestion in suggestions %}
                        <div class="single_comments suggestions">
                            <a href="{% url 'blog:details' suggestion.slug %}">
                                <img src="{% get_media_prefix %}{{ suggestion.image.small_name }}" width="100" alt=""  />
                                <div>{{ suggestion.title }} </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div><!--/.recent comments-->
                {% endif %}


                <div class="widget categories">
                    <h3>Categories</h3>
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="blog_category">
                                {% for category in categories %}
                                <li><a href="{% url 'blog:post_per_category'  category.slug %}"><button type="button" class="btn btn-outline-primary"> {{ category.name }} <span class="badge">{{ category.post_count }}</span></button></a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div><!--/.categories-->
                {% if recent_posts %}
                <div class="widget categories">
                    <h3>Most consulted</h3>
                    <div class="row">
                        {% for suggestion in recent_posts %}
                        <div class="single_comments suggestions">
                            <a href="{% url 'blog:details' suggestion.slug %}">
                                <img src="{% get_media_prefix %}{{ suggestion.image.small_name }}"  width="100"  alt=""  />
                                <div>{{ suggestion.title }} </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </aside>
        </div>
    </section>
        <!-- /#page-content-wrapper -->
{% block cta_banner %}
{% endblock %}
{% block comments %}
{% endblock %}
{% endblock %}
    <!-- jQuery -->
{#    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>#}

    <!-- Bootstrap Core JavaScript -->
{#    <script src="{% static 'js/bootstrap.min.js' %}"></script>#}

    {% block js %}
        {{ block.super }}
        <script type="text/javascript">
        (function() {
            $('form#search input.input-sm').attr('placeholder', 'Search ikwen')
        })()
    </script>
    {% endblock %}