{% extends "blog/base.html" %}
{% load i18n %}
{% load staticfiles  auth_tokens %}
{% block meta %}
    <meta name="abstract" content="ikwen blog "/>
{% endblock %}
{% block page_title %} <title>ikwen blog - {% trans "Home" %}</title> {% endblock %}
{% block custom_head %}
    <meta property="og:image" content="{{ fb_share_item.media.url }}"/>
    <meta property="og:description" content="{% trans 'Blog of ikwen platforms and applications' %}"/>
    <style>
        .alert {border: 1px solid transparent; border-radius: 4px; margin-bottom: 20px; padding: 15px; width: 760px;}
        .alert-danger {color: #b94a48; background-color: #f2dede; border-color: #ebccd1}
        .paginator {float: left; margin-top: 20px;}
        .paginator a {border: solid 1px #DDD; float: left; margin-left: 5px; text-decoration: none; padding: 7px 10px}
        .paginator span {background-color: #f2dede; border: solid 1px #DDD; color: #b94a48; float: left;margin-left: 5px; padding: 7px 10px}

    </style>
{% endblock %}

{% block page_content %}
    {% include 'snippets/fb_sdk.html' %}
    {% if entries %}
        {% for entry in items_paginated %}
                <div class="post">
                    <h1><a class="title" href="{% url 'blog:details' entry.slug %}"><span>{{ entry.title }} </span></a></h1>
                    <p class="meta">{{ entry.pub_date }}.
                        <a href="{% url 'blog:details' entry.slug %}" style="border-bottom: 1px dotted #686868; text-decoration: none">{{ entry.comment_count }} Comments</a>
                    </p>
                    {% if entry.image.name %}
                        <a href="{% url 'blog:details' entry.slug %}"><img class="img-responsive img-blog" src="{{ entry.image.url }}" width="100%" alt="" /></a>
                    {% endif %}
                    <div class="intro" style="">
                        <div class="text">{{ entry.summary }}</div>
                    </div>
                    <p>
                        <b>Tags: </b>{{ entry.tags }}
                    </p>
                    <a href="{% url 'blog:details' entry.slug %}" class="more">Read more</a>
                </div>
        {% endfor %}
    {% else %}
        <div class="post alert alert-danger" align="center" style="">
			<h2 style="line-height: 35px;">
				Sorry, there is no article corresponding to your criteria <br/> Try another one please.
			</h2>
		</div>
    {% endif %}

    {{ items_paginated.page_range }}
    <div class="paginator">
        {% if items_paginated.has_previous %}
           <a href="{% url 'blog:home' %}?page={{ items_paginated.previous_page_number }}" >{{ items_paginated.previous_page_number }}</a>
        {% endif %}
            <span>{{ items_paginated.number }}</span>
        {% if items_paginated.has_next %}
           <a href="{% url 'blog:home' %}?page={{ items_paginated.next_page_number }}" >{{ items_paginated.next_page_number }}</a>
        {% endif %}
    </div>
{% endblock %}
